<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="site.css" />
    <script src="https://kit.fontawesome.com/deabec62ea.js"
            crossorigin="anonymous"></script>

</head>
<body>
    <div class="mainn">
        <div class="container">
            <div class="top">
                <div class="logo"><h1>HB.</h1></div>
                <div class="menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <span class="divider">|</span>
                        <li id="aboutus"><a href="">About Us</a></li>
                        <span class="divider">|</span>
                        <li><a href="">contact</a></li>
                        <span class="divider">|</span>
                        <li><a href="">IOS</a></li>
                        <span class="divider">|</span>
                        <li><a href="">Android</a></li>
                        <span class="divider">|</span>
                        <li><a href="">Accessoiries</a></li>
                    </ul>
                </div>
                <div class="icons">
                    <ul>
                        <li>
                            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-user"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="slider">

                <div class="upper">
                    <div class="upleft">
                        <h1>
                            Lets Shine
                            <span>With Modren Style</span>
                        </h1>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> Omnis,
                            accusantium?
                        </p>
                        <div class="buttonsuper">
                            <button>Android</button> <button>IOS</button>
                            <button>Accessoiries</button>
                        </div>
                    </div>
                    <div class="upright">
                        <img src="/i.png" alt="" />
                    </div>
                </div>


            </div>


            <div class="mid">
                <div class="midleft">
                    <div class="home">

                        <h1>About Us</h1>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet corporis praesentium cupiditate dignissimos at unde mollitia harum eaque delectus ab. Iusto odit fugiat incidunt ea?</p>
                        <div class="first">
                            <div class="circle2">

                                <img src="/shape1.png" alt="">
                            </div>
                            <div class="con2">
                                <h1>Our Background</h1>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, nam fugit? Ex est eos quaerat minus animi magni dolores sit ut, quibusdam molestiae laborum natus recusandae inventore explicabo, soluta sunt?
                                </p>
                            </div>

                        </div>
                        <div class="first">
                            <div class="circle2">

                                <img src="/shape2.png" alt="">
                            </div>
                            <div class="con2">
                                <h1>Our vision</h1>
                                <p>
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error aliquid enim quas sequi amet officia eveniet voluptate explicabo aut, molestias, saepe quia, veniam velit porro non. Deserunt, facere! Porro, quaerat.
                                </p>
                            </div>

                        </div>
                        <div class="first">
                            <div class="circle2">

                                <img src="/shape3.png" alt="">
                            </div>
                            <div class="con2">
                                <h1> Our Products</h1>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iure ea. Neque repellat labore deleniti nihil ea a facilis ex, inventore ullam voluptate sint deserunt iusto aspernatur perspiciatis, nemo mollitia recusandae aperiam? Rem neque vel non autem dignissimos nulla odit.
                                </p>
                            </div>

                        </div>


                    </div>
                </div>
                <div class="midright">
                    <div class="grpbg"> </div>
                    <div class="mobilegrp"> <img src="/th.png" alt="dog"></div>
                </div>
            </div>
            <div class="sub">
                <div class="text">
                    <h1>monthly subscription packages</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat obcaecati dignissimos eos nesciunt nisi non hic, iure pariatur deleniti voluptas nemo eligendi possimus dolor unde velit quis suscipit odit voluptatibus.</p>
                </div>
                <div class="subscribe">
                    <button type="button">Discover Products</button>
                </div>
            </div>
            <div class="products">
                <div class="container">
                    <div class="parea">
                        <div class="ptext">
                            <h1>Our Products</h1>
                            <p>
                                TelexLab in this modren era when everything gone online building their trust in market and selling orignl products over the world.
                                Products are of fully highh quality and have a good customer reviews.
                            </p>
                        </div>
                        <div class="buttons">
                            <button>All</button><button>Mobiles</button><button>Accessoiries</button><button>Electronics</button>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="allphotos">
                        <div class="photoarea">

                            <div class="photbox">
                                <div class="topforpic"><img src="/p1.jpeg" alt=""></div>
                            </div>
                            <div class="descbox">
                                <div class="one"><button>category name</button></div>
                                <div class="two">
                                    <h1>product name</h1>
                                </div>
                                <div class="three">
                                    <div class="price">
                                        <p>$15.00</p>
                                    </div>
                                    <div class="stars"><img src="/stars.png" alt=""></div>
                                </div>
                                <div class="four">
                                    <div class="addtocart"><button>add to cart</button></div>

                                    <div class="hearticon"> <img src="/heart.png" alt=""></div>




                                </div>
                            </div>
                        </div>



                        <div class="photoarea">
                            <div class="photbox">
                                <div class="topforpic"><img src="/p2.jpeg" alt=""></div>
                            </div>
                            <div class="descbox">
                                <div class="one"><button>category name</button></div>
                                <div class="two">
                                    <h1>product name</h1>
                                </div>
                                <div class="three">
                                    <div class="price">
                                        <p>$15.00</p>
                                    </div>
                                    <div class="stars"><img src="/stars.png" alt=""></div>
                                </div>
                                <div class="four">
                                    <div class="addtocart"><button>add to cart</button></div>

                                    <div class="hearticon"> <img src="/heart.png" alt=""></div>




                                </div>
                            </div>
                        </div>




                        <div class="photoarea">
                            <div class="photbox">
                                <div class="topforpic"><img src="/p3.jpeg" alt=""></div>
                            </div>
                            <div class="descbox">
                                <div class="one"><button>category name</button></div>
                                <div class="two">
                                    <h1>product name</h1>
                                </div>
                                <div class="three">
                                    <div class="price">
                                        <p>$15.00</p>
                                    </div>
                                    <div class="stars"><img src="/stars.png" alt=""></div>
                                </div>
                                <div class="four">
                                    <div class="addtocart"><button>add to cart</button></div>

                                    <div class="hearticon"> <img src="/heart.png" alt=""></div>




                                </div>
                            </div>
                        </div>



                        <div class="photoarea" style="margin-right: 20px;">
                            <div class="photbox">
                                <div class="topforpic"><img src="/p4.jpeg" alt=""></div>
                            </div>
                            <div class="descbox">
                                <div class="one"><button>category name</button></div>
                                <div class="two">
                                    <h1>product name</h1>
                                </div>
                                <div class="three">
                                    <div class="price">
                                        <p>$15.00</p>
                                    </div>
                                    <div class="stars"><img src="/stars.png" alt=""></div>
                                </div>
                                <div class="four">
                                    <div class="addtocart"><button>add to cart</button></div>

                                    <div class="hearticon"> <img src="/heart.png" alt=""></div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mainc">
                        <div class="benfitsbox">
                            <div class="container">
                                <div class="benifits">
                                    <div class="bentext">
                                        <h1>Benefits of subscribing</h1>
                                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis sed quos dignissimos perspiciatis accusantium eveniet maxime deleniti minima obcaecati magni?Lorem ipsum dolor sit amet.</p>
                                    </div>

                                    <div class="shapesmain">

                                        <div class="firstshape">
                                            <img src="/green (2).png" alt="">
                                        </div>
                                        <div class="secondshape">
                                            <img src="/yellow (2).png" alt="">
                                        </div>

                                        <div class="thirdshape">
                                            <img src="/sky blue (2).png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="maind">

                            <footer>
                                <div class="fone">
                                    <div class="fh"><h1>HB.</h1></div>
                                    <div class="fh2">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                                            the industry's standard
                                        </p>
                                    </div>
                                    <div class="fh3">
                                        <ul>
                                            <li><a href=""><i class="fa fa-facebook-f"></i></a></li>
                                            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>

                                            <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="ftwo">
                                    <h3>Links</h3>
                                    <ul>
                                        <li>Home</li>
                                        <li>About</li>
                                        <li>Contact Us</li>
                                        <li> FAQs</li>

                                    </ul>
                                </div>
                                <div class="fthree">
                                    <h3>Help</h3>
                                    <ul>
                                        <li>FAQs </li>
                                        <li>Privacy Policy</li>
                                        <li> Terms & Conditions</li>

                                    </ul>
                                </div>
                                <div class="ffour">
                                    <h3>Contact Us</h3>
                                    <ul>
                                        <li>
                                            <a href=""><i class="fa-solid fa-phone"></i></a>
                                            <p>+1 (123) 123 4568</p>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa-solid fa-envelope"></i></a>
                                            <p>info@example.com</p>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa-solid fa-location-dot"></i></a>
                                            <p>30210 W. 8 Mile Rd., Suite E</p>
                                        </li>

                                    </ul>
                                </div>
                            </footer>
                        </div>
                        <div class="copywrite">
                            <p>© 2023 HB. All rights reserved</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
</body>

</html>


